EXPERIMENT No 5

NAME- DOLLY DALAL

 BRANCH -ENTC A2

PRN-25070123044

SETS

Title -To study Sets and Dictionaries in Python Sets are used to store multiple items in single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List,Tuple,and Dictionary,all with different qualities and usage. A set is a collection which is unordered,unchangeable*,and unindexed.

In [36]:
#Creation of set
thisset={"table","chair","books","bookshelf"}
print(thisset)

{'books', 'chair', 'bookshelf', 'table'}

In [37]:
#duplicates not allowed
thisset={"table","chair","books","books","bookshelf"}
print(thisset)

{'books', 'chair', 'bookshelf', 'table'}

In [38]:
#the values true and 1 are considered the same value in sets.
thisset={"table","chair","books","books","bookshelf",True,1,2}
print(thisset)

{'books', True, 2, 'bookshelf', 'chair', 'table'}

In [39]:
#A set with strings, integers and boolean values:
set1={"kite",67,False,90,"female",56.89}
set1

{56.89, 67, 90, False, 'female', 'kite'}

In [40]:
#to check membership
thisset={"table","chair","books","bookshelf"}
print("chair" in thisset)
print("car" in thisset)

True
False

In [41]:
#once a set is created you cannot replace its items,
#but you can add new items in the given set
thisset={"table","chair","books","bookshelf"}
thisset.add("sofa")
print(thisset)

{'bookshelf', 'chair', 'sofa', 'table', 'books'}

In [42]:
#remove an existing item
thisset={"table","chair","books","bookshelf"}
thisset.remove("table")
print(thisset)

{'books', 'chair', 'bookshelf'}

In [43]:
#set operations
a={6,5,3,1,2}
b={9,4,3,7,8}
print("union:",a|b)
print("intersection:",a&b)
print("difference:",a-b)
print("symmetric difference:",a^b)

union: {1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection: {3}
difference: {1, 2, 5, 6}
symmetric difference: {1, 2, 4, 5, 6, 7, 8, 9}

PYTHON FROZENSET

In [44]:
#frozenset
x=frozenset(["table","chair","sofa","books","shelf"])
print(x)
print(type(x))

frozenset({'chair', 'sofa', 'table', 'books', 'shelf'})
<class 'frozenset'>

In [54]:
#adding or removal of elements are not allowed in frozenset
#frozenset
x=frozenset(["table","chair","sofa","books","shelf"])
x.add("bed")

AttributeError: 'frozenset' object has no attribute 'add'

In [64]:
x=frozenset(["table","chair","sofa","books","shelf"])
x.remove("bed")

AttributeError: 'frozenset' object has no attribute 'remove'

In [53]:
#problem statement 1: unique event participation
#A college event has a list of students who registered multiple items by mistake.
#write a program using set to store participants names and display only unique participants

#names of participants
name=["aman","karan","shanvi","priya","drishti","trisha","drishti","priya","rohan","dolly","aayush"]
unique_participants = set(name)
print("Unique participants in the event:")
print(unique_participants)

Unique participants in the event:
{'shanvi', 'dolly', 'rohan', 'drishti', 'karan', 'priya', 'aman', 'aayush', 'trisha'}

In [52]:
#problem statement 2: three students choose elective subjcets.
#find the common subjects chosen by all students using set operations.
dolly={"maths","chemistry","python","physics","english"}
aayush={"maths","python","chemistry","chemistry","hindi"}
karan={"english","python","physics","chemistry","biology"}
common_subjects = dolly & aayush & karan
print("common subjects chosen by all:")
print(common_subjects)

common subjects chosen by all:
{'python', 'chemistry'}

In [51]:
#problem statement 3: one set contains students in the cricket club, another in the football club, and one has in the badminton club.
#find students who are: 1. in both both clubs. 2. in only one club3. in all three clubs. 4. student in neither club

# Sets of students in clubs
cricket = {"aman", "karan", "priya", "rohan"}
football = {"karan", "priya", "dolly", "aayush"}
badminton = {"aman", "dolly", "shanvi"}

# Universal set (all students)
all_students = {"aman", "karan", "priya", "rohan", "dolly", "aayush", "shanvi", "trisha"}

# 1. Students in both cricket and football clubs (intersection)
both_clubs = cricket & football

# 2. Students in only one club (symmetric difference)
only_one_club = cricket ^ football ^ badminton

# 3. Students in all three clubs (intersection)
all_three_clubs = cricket & football & badminton

# 4. Students in neither club
neither_club = all_students - (cricket | football | badminton)

# Output
print("Students in both cricket and football clubs:", both_clubs)
print("Students in only one club:", only_one_club)
print("Students in all three clubs:", all_three_clubs)
print("Students in neither club:", neither_club)

Students in both cricket and football clubs: {'priya', 'karan'}
Students in only one club: {'shanvi', 'rohan', 'aayush'}
Students in all three clubs: set()
Students in neither club: {'trisha'}

In [50]:
#problem statement 4: absent students
#given a set of all students and a set of present students, find the absent students.

# Set of all students
all_students = {"aman", "karan", "priya", "rohan", "dolly", "aayush", "shanvi"}
present_students = {"aman", "priya", "dolly", "shanvi","aayush"}
absent_students = all_students - present_students

print("Absent students are:")
print(absent_students)

Absent students are:
{'rohan', 'karan'}

In [49]:
#problem statement 5: remove invalid entries.
#a set contains valid course codes.
#remove a discontinued course code from the set.add

subjects = {"EDP", "PES", "AMT", "DCLD", "IKS", "CRT"}
discontinued_subject = "DCLD"
subjects.remove(discontinued_subject)

print("Updated subject list:")
print(subjects)

Updated subject list:
{'EDP', 'PES', 'CRT', 'AMT', 'IKS'}

DICTIONARY

In [48]:
#PYTHON DICTIONARIES
#Dictionaries are used to store datat values in key:value pairs.
#A dictionary is a collection which is ordered,changeable and do not allow duplicates.

In [47]:
#creation of dictionary
thisdict={
    "brand":"BMW",
    "model":"roadster",
    "year":1962
}
thisdict

{'brand': 'BMW', 'model': 'roadster', 'year': 1962}

In [46]:
#retriving values from dictionary
thisdict={
    "brand":"BMW",
    "model":"roadster",
    "year":1962
}
print(thisdict["brand"])

BMW

In [55]:
#Dictionary takes latest value given for key. it will not allow duplicates
thisdict={
    "brand":"BMW",
    "model":"roadster",
    "year":1962,
    "year":2023
}
print(thisdict)

{'brand': 'BMW', 'model': 'roadster', 'year': 2023}

In [56]:
#length of key -value pairs
len(thisdict)

3

In [57]:
#changing/adding key:value in dictionary
car={
    "brand":"BMW",
    "model":"roadster",
    "year":1962
}
car["colour"]="red"
x=car.values()
print(x)   #after the change

dict_values(['BMW', 'roadster', 1962, 'red'])

In [58]:
#retrival of values
student={
    "name":"dolly",
    "roll": 44,
    "branch":"entc"
}
print("name:",student["name"])

name: dolly

In [59]:
#adding and updating elements
student["year"]="second"
student["name"]="aayush"
print(student)

{'name': 'aayush', 'roll': 44, 'branch': 'entc', 'year': 'second'}

In [60]:
#removing elements
student.pop("branch")
print("after removal:",student)

after removal: {'name': 'aayush', 'roll': 44, 'year': 'second'}

In [61]:
#a dictionary stores product names and their prices. writ a python program to update the price of a given product.
products = {
    "pen":15,
    "book": 260,
    "pencil box":250,
    "eraser":10
}
products["earser"]=15
print(products)

{'pen': 15, 'book': 260, 'pencil box': 250, 'eraser': 10, 'earser': 15}

In [62]:
from ast import IfExp
# a dictionary stores student names and marks.
#write a python program to search for a student's marks using the name entered.
#if the student is not found, display a suitable message
students = {
    "Amit": 85,
    "Neha": 92,
    "Rahul": 78,
    "Priya": 90
}
name=input("enter the name of student:")
print(students.get(name,"student not found"))

enter the name of student:dolly
student not found

In [63]:
# a dictionary stores usernames and passwords.
#write a python program to validate user login
# Dictionary storing usernames and passwords
users = {
    "admin": "admin@9876",
    "dolly": "pass456",
    "aayush": "aayush@123"
}

username = input("Enter username: ")
password = input("Enter password: ")

if users.get(username) == password:
    print("Login successful")
else:
    print("Invalid username or password")

Enter username: dolly
Enter password: pass456
Login successful

In [69]:
#a dictionary stores student names and marks.
#write a python program to find the student whl scored the highest marks.
marks={"dolly":98,"aayush":98.5,"priyanshu":99}
topper=max(marks,key=marks.get)
print("topper:",topper)
print("marks:",marks[topper])

topper: priyanshu
marks: 99